.backbar {
  box-sizing: border-box;
  /* position: fixed; */
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 100%;
  height: 40px;
  padding: 5px;
  background: linear-gradient(
    115.6deg,
    rgba(242, 239, 239, 0.35) 0.36%,
    rgba(242, 239, 239, 0.35) 97.41%
  );
  backdrop-filter: blur(10px);
  /* border: 2px solid orange; */
}

.backbar:hover {
  box-shadow: 0px 4px 50px -1px rgba(0, 0, 0, 0.25);
}

.backbar button {
  box-sizing: border-box;
  display: flex;
  background: none;
  border-radius: 7px;
  height: 30px;
  width: 50px;
  margin-left: 15px;
  border: none;
}

.backbar button:hover {
  background: linear-gradient(
    115.6deg,
    rgba(242, 239, 239, 0.35) 0.36%,
    rgba(242, 239, 239, 0.35) 97.41%
  );
}

.backbar img {
  height: 15px;
  width: 10px;
  position: absolute;
  top: 12px;
  left: 38px;
}

.displayPictureContainer {
  box-sizing: border-box;
  /* border: 2px solid orange; */
  height: 470px;
  overflow: hidden;
}

.displayPictureContainer img {
  margin-top: -350px;
  width: 100%;
}

.displayCard {
  box-sizing: border-box;
  /* border: 2px solid orange; */
  backdrop-filter: blur(100px);
  border-radius: 15px;
  color: white;
  position: absolute;
  top: 350px;
  left: 100px;
  font-size: 45px;
  font-weight: 700;
  padding: 15px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(3, 3, 3, 0.3);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.follower {
  font-size: 18px;
  font-weight: 400;
}

.albumContainer {
  box-sizing: border-box;
  margin-top: 20px;
  color: white;
  display: flex;
  width: 100%;
  /* border: 2px solid green; */
  padding-left: 70px;
  padding-bottom: 50px;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 100px;
}

.albumArt {
  box-sizing: border-box;
  /* border: 2px solid rgba(165, 165, 165, 0.35); */
  border-radius: 15px;
  padding: 20px;
  width: 550px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(3, 3, 3, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.albumTrack {
  box-sizing: border-box;
  /* border: 2px solid grey; */
  margin-top: 20px;
  width: fit-content;
}

.albumArt img {
  height: 200px;
  width: 200px;
  border-radius: 12px;
}

.albumTitle {
  box-sizing: border-box;
  /* border: 2px solid green; */
  width: fit-content;
  height: fit-content;
  margin-top: 30px;
  font-size: 25px;
  font-weight: 500;
}

.release {
  box-sizing: border-box;
  /* border: 2px solid green; */
  height: fit-content;
  width: fit-content;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 400;
}
.ofTacks {
  font-weight: 300;
  font-size: 15px;
}

.mirrorBack {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(3, 3, 3, 0.3);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 40px;
  margin-bottom: 40px;
}
