body {
  .playCircle {
    box-sizing: border-box;
    position: absolute;
    background: linear-gradient(to left, #f64f59, #c471ed, #12c2e9);
    opacity: 0;
    border-radius: 50%;
    top: 190px;
    left: 150px;
    height: 60px;
    width: 60px;
    animation: moveOut 0.3s ease-out;
    animation-fill-mode: forwards;
    padding-left: 21px;
    padding-top: 20px;
  }
}

.output {
  box-sizing: border-box;
  padding: 30px 0 0 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
}

.artistCard {
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 20px;
  padding: 20px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(3, 3, 3, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 10px;
}

.artistCard:hover {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);

  .playCircle {
    box-sizing: border-box;
    position: absolute;
    background: linear-gradient(to left, #f64f59, #c471ed, #12c2e9);
    opacity: 0;
    border-radius: 50%;
    top: 190px;
    left: 150px;
    height: 60px;
    width: 60px;
    animation: moveIn 0.3s ease-in;
    animation-fill-mode: forwards;
    padding-left: 21px;
    padding-top: 20px;
  }
}

.playCircle {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

@keyframes moveIn {
  0% {
    opacity: 0;
  }
  100% {
    top: 150px;
    opacity: 0.8;
  }
}

@keyframes moveOut {
  0% {
    opacity: 1;
    top: 150px;
  }
  100% {
    top: 190px;
    opacity: 0;
  }
}

.titleCover {
  box-sizing: border-box;
  margin-top: 10px;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.titleCover:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.songTitle {
  box-sizing: border-box;
  /* border: 2px solid orangered; */
  color: white;
  width: 200px;
  height: fit-content;
  font-size: 20px;
  margin-top: 10px;
}

.albums {
  color: white;
}

.searchBar {
  box-sizing: border-box;
  // border: 2px solid orange;
  margin: auto;
  width: fit-content;
  outline: none;
}

.searchBar input[type="text"] {
  outline: none;
  width: 1000px;
  color: white;
  font-size: 30px;
  padding: 20px;
  background-color: transparent;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.power {
  box-sizing: border-box;
  padding: 20px;
  opacity: 0.6;
  // border: 2px solid orange;
  margin-top: -70px;
  margin-left: 1280px;
}

.power:hover {
  opacity: 1;
}
