::placeholder {
  color: lightgrey;
}

.mainContainer {
  box-sizing: border-box;
  color: white;
  margin: auto;
  height: 730px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(3, 3, 3, 0.3);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.appName {
  position: absolute;
  top: 60px;
  left: 60px;
  font-size: 100px;
  font-weight: 700;
  animation: fadeIn 1.5s ease-in;
  animation-fill-mode: forwards;
}

.appName hr {
  margin-top: -20px;
  margin-left: 30px;
}

.dots {
  position: absolute;
  top: 77px;
  left: 260px;
  font-size: 40px;
}

.outerContainer {
  box-sizing: border-box;
  margin: auto;
  margin-top: 200px;
  width: fit-content;
  padding: 20px;
  border: 0.5px solid grey;
  backdrop-filter: blur(100px);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 12px;
  animation: fadeIn 1.5s ease-in;
  animation-fill-mode: forwards;
}
.outerContainerMoved {
  box-sizing: border-box;
  margin: auto;
  margin-top: 200px;
  width: fit-content;
  padding: 20px;
  border: 0.5px solid grey;
  backdrop-filter: blur(100px);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 12px;
  animation: moveOut 1.5s ease-out;
  animation-fill-mode: forwards;
  pointer-events: none;
}

.loginContainer {
  flex-direction: column;
  display: flex;
  row-gap: 10px;
}

.loginContainer input,
.signupContainer input {
  font-size: 20px;
  border: 2px solid salmon;
  padding: 12px;
  background: transparent;
  width: 380px;
  border: none;
  border-bottom: 2px solid lightgrey;
  outline: none;
  color: lightgrey;
}

.loginContainer button,
.signupContainer button {
  margin-top: 20px;
  font-size: 18px;
  width: 400px;
  height: 40px;
  padding: 6px;
  border: none;
  border-radius: 5px;
}

.loginContainer button:hover,
.signupContainer button:hover {
  background-color: lightgrey;
  cursor: pointer;
}

//signup container

.signupOuterContainer {
  box-sizing: border-box;
  position: absolute;
  top: 220px;
  left: 920px;
  margin: auto;
  opacity: 0;
  width: fit-content;
  padding: 20px;
  border: 0.5px solid grey;
  backdrop-filter: blur(100px);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 12px;
  pointer-events: none;
}
.signupOuterContainerMoved {
  box-sizing: border-box;
  position: absolute;
  top: 220px;
  left: 467px;
  margin: auto;
  opacity: 1;
  width: fit-content;
  padding: 20px;
  border: 0.5px solid grey;
  backdrop-filter: blur(100px);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 12px;
  animation: moveIn 2s ease-in;
  animation-fill-mode: forwards;
}

.signupContainer {
  flex-direction: column;
  display: flex;
  row-gap: 10px;
}

//dont have an account line
.textDeco {
  box-sizing: border-box;
  margin: auto;
  width: fit-content;
}

.getStartedButton input[type="button"] {
  margin-top: 20px;
  margin-left: 55px;
  font-size: 18px;
  width: 300px;
  height: 40px;
  padding: 6px;
  border: none;
  border-radius: 5px;
}

.getStartedButton input[type="button"]:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.colorText {
  margin: 0 5px 0 5px;
  background: linear-gradient(to left, #f64f59, #c471ed, #12c2e9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.error {
  box-sizing: border-box;
  border: 2px solid red;
  padding: 10px;
  border-radius: 12px;
  background-color: #f64f59;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

@keyframes moveOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-300px);
  }
}

@keyframes moveIn {
  0% {
    opacity: 0;
    left: 920px;
  }
  100% {
    opacity: 1;
    left: 467px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
